<!--nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">{{chartParameters.yLabel}}</a>
  </div>

  <ul>
    <li id="home"><a routerLink="/">HOME</a></li>
  </ul>
</nav-->

<!-- Bootstrap grid setup -->

<div class="container">
  <app-granular></app-granular>
  <div class="row">
    <div class="col-md-6">
      <label for="Year Choosen">Year : {{year}}</label>
    </div>
    <div class="col-md-6">
      <label *ngIf="granular==3" for="choosen"> Quarter : {{choosenValue}}</label>
      <label *ngIf="granular==2" for="choosen">Month : {{monthName}}</label>
    </div>
  </div>
  <div class="row">
    <div #chart id="chart-area"></div>
  </div>
</div>