<div class="container">
    <app-granular-per-dist ></app-granular-per-dist>
    <div class="row">
        <div class="col-md-4">
            <label for="Year Choosen">Year : {{year}}</label>
        </div>
        <div class="col-md-4">
            <label for="District choosen">District : {{district}}</label>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary">Get Taluk View</button>
        </div>
    </div>
    <div class="row">
        <div #chart id="chart-area"></div>
    </div>
</div>