
    <div class="row">
        <div  class="col-md-4">
          <label *ngIf="granularChoosen!=1" for="YearSelect">Year: {{year}}</label>
          <br>
          <mat-slider [disabled]="granularChoosen==1" #slider min="{{minYear}}" max="{{maxYear}}" step="1" value="1" (input)="onYearChange($event)"></mat-slider>
        </div>
        <!--div *ngIf="displayQuarterData" class="col-md-4">
          <label for="QuarterSelected">Quarter: {{quarterChoosen}}</label>
          <br>
          <mat-slider  [disabled]="granularChoosen==1" #slider min="1" max="3" step="1" value="1" (input)="onQuarterChange($event)"></mat-slider>
        </div-->
        <div class="col-md-4">
          <mat-radio-group (change)="onGranularChange($event)" aria-label="Select an option">
            <mat-radio-button [checked]="true" value="1">Year wise</mat-radio-button>
            <mat-radio-button value="2">Month</mat-radio-button>
            <mat-radio-button value="3">Quarter</mat-radio-button>
          </mat-radio-group>
        </div>

        <!--View in table-->  
        <div class="col-md-4">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            View in table
          </button>
        </div>
        <!--Modal content-->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h1 class="modal-title">Data</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">{{xColumnName}}</th>
                      <th scop="col">{{parameterName}}</th>
                    </tr>
                  </thead>  
                  <tbody>
                    <tr *ngFor="let d of data;let in = index">
                      <th scope="row">{{in+1}}</th>
                      <td>{{d[xColumnName]}}</td>
                      <td>{{d[parameterName]}}</td>
                    </tr>
                  </tbody>  
                </table>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    
  

