<div id="main">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-md-2 form-group">
                <select ngModel class="form-control" name="districtId">
                    <option selected value="">1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                </select>
            </div>
            <!--div class="col-md-2 form-group">
                <select ngModel class="form-control" name="districtId_test">
                    <option selected value="">{{distNames[0].name}}</option>
                    <div *ngFor="let dist of distNames; let in = index">
                        <option>{{in}}</option>    
                    </div>
                </select>
            </div-->
            <div class="col-md-2 form-group">
                <select ngModel class="form-control" name="parameter">
                    <option selected value="">Alcohol Cases</option>
                    <option value=2>Suicide Cases</option>
                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="submit">Get Chart</button>
            </div>
            <div class="col-md-4">
                <h2>Per District View</h2>
            </div>
        </div>
    </form>

    <app-line-chart-per-dist></app-line-chart-per-dist>
</div>
