<div id="main">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <select ngModel class="form-control select" name="parameter">
                        <option selected value="">Select Parameter</option>    
                        <option selected value=1>Alcohol Cases</option>
                        <option value=2>Suicide Cases</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="submit">Get Chart</button>
            </div>
            <div class="col-md-2">
                   <h2>State view </h2>
            </div>
        </div>
    </form>

    <app-bar-chart-state *ngIf="paramNumber==1"></app-bar-chart-state>
    <app-bar-chart-state *ngIf="paramNumber==2"></app-bar-chart-state>
</div>