<!--nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
</nav-->

<!--ol>
  <li>
    <ul class="list-group list-group-flush">
      <h4>Comparision across all districts</h4>
      <li class="list-group-item"><a routerLink="/barChartAllDist" (click)="onClick('AlcoholCases')"> Alcohol cases all
          districts</a></li>
      <li class="list-group-item"><a routerLink="/barChartAllDist" (click)="onClick('SuicideCases')"> Suicide cases all
          districts</a></li>
    </ul>
  </li>
  <li>
    <form #f="ngForm" (ngSubmit)="onSubmitPerDist(f)">
      <div class="form-group">
        <label for="District Id">District Id</label>
        <select ngModel class="form-control" name="districtId">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Select Parameter">Parameter</label>
        <select ngModel class="form-control" name="parameter">
          <option value="alcoholCases">Alcohol Cases</option>
          <option value="suicideCases">Suicide Cases</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </li>
</ol-->

<div >
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#State">State</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#District">District</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#PerDistrict">Per District</a>
      </li> 
    </ul>
  </nav>

  <div id="State" class="container-fluid bg-info" style="padding-top:50px;padding-bottom:50px">
    <app-state-view-menu></app-state-view-menu>
  </div>
  <div id="District" class="container-fluid" style="padding-top:50px;padding-bottom:50px;background-color:rgb(159, 245, 202)">
    <app-all-dist-menu></app-all-dist-menu>
  </div>
  <div id="PerDistrict" class="container-fluid bg-info" style="padding-top:50px;padding-bottom:50px">
    <app-per-dist-menu></app-per-dist-menu>
  </div>
</div>
<div id="PerDistrict" class="container-fluid bg-info" style="padding-top:50px;padding-bottom:50px">
  <app-expense></app-expense>
  </div>

